:host {
  display: flex;
  justify-content: center;
  height: 100%;

  .chart-container {
    width: 90%;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 10px 11px 7px 3px rgb(0, 0, 0, 0.32);
    border: 1px solid #e0e0e0;
    background-color: white;
    padding: 16px;

    &.chart-container-continent {
      height: 520px;
      margin-top: 20%;
    }

    &.chart-container-countries {
      height: calc(100% - 400px);
    }
  }
}
