$max-width: 1050px;

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px;
  color: white;

  .filter-wrapper {
    display: flex;
    gap: 20px;

    .filter-inputs-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .input-group-text {
        width: 112px;
      }

      .input-group {
        width: 400px;
      }

      @media (max-width: $max-width) {
        flex-direction: column;
      }
    }

    .filter-buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 17px;

      .btn {
        letter-spacing: 1.25px;
        font-weight: bold;
      }

      .btn-success {
        background-color: #6ba955;
        border: none;
      }

      .disabled-button {
        border: 1px solid white;
        color: white;
        background-color: #8d8d8d;
      }

      @media (max-width: $max-width) {
        justify-content: center;
      }
    }

    @media (max-width: $max-width) {
      flex-direction: column;
    }
  }
}
