<div class="filters-container">
  <p>Filter by Population Range</p>

  <div class="filter-wrapper">
    <div class="filter-inputs-container">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Minimum:
        </span>
        <input
          type="number"
          class="form-control"
          placeholder="0"
          [(ngModel)]="minPopulation"
          aria-label="Minimum Population"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Maximum:</span
        >
        <input
          type="number"
          class="form-control"
          placeholder="&#8734;"
          [(ngModel)]="maxPopulation"
          aria-label="Maximum Population"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>

    <div class="filter-buttons-container">
      <button
        type="button"
        class="btn btn-success"
        (click)="filterByPopulation()"
        [disabled]="shouldDisabledFilterButton()"
        [class.disabled-button]="shouldDisabledFilterButton()"
      >
        Filter
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="resetFilters()"
        [disabled]="shouldDisabledResetFilterButton()"
        [class.disabled-button]="shouldDisabledResetFilterButton()"
      >
        Reset
      </button>
    </div>
  </div>

  @if(isNotValidRange()) {
  <p class="text-danger mt-2">
    {{ errorValidationMessage }}
  </p>
  }
</div>
