$color-purple: #9966ff;
$color-green: #8ac24a;

.navbar .container-fluid {
  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;

    .logo {
      width: 85px;
    }

    .logo-title {
      color: white;
      margin-left: 28px;
      font-family: "Montserrat", sans-serif;
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 2.25px;
      .w {
        color: $color-purple;
      }

      .d {
        color: $color-green;
      }
    }
  }

  .collapse.navbar-collapse .navbar-nav {
    display: flex;
    margin-right: 36px;

    .nav-link {
      font-size: 16px;
      text-align: center;
      align-content: center;

      &.active {
        color: $color-purple;
        font-weight: bold;
      }
    }
  }
}
