.navbar {
  height: 110px;

  .container-fluid {
    .logo-container {
      display: flex;
      align-items: center;
      margin-left: 16px;
      cursor: pointer;

      .logo {
        width: 85px;
      }

      .logo-title {
        margin-left: 28px;
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 2.25px;
        .w {
          color: #9966ff;
        }

        .d {
          color: #8ac24a;
        }
      }
    }

    .collapse.navbar-collapse {
      .navbar-nav {
        margin-right: 36px;
      }
    }
  }
}
