<nav
  class="navbar bg-dark sticky-top navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <div class="logo-container" (click)="navigateToMain()">
      <img class="logo" src="assets/logo.png" alt="logo-image" />
      <span class="logo-title">
        <span class="w">W</span>orld<span class="d">D</span>ata
      </span>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        @for(continent of continents; track continent) {
        <a
          class="nav-link"
          [routerLink]="[continent]"
          routerLinkActive="active"
          >{{ continent }}</a
        >
        }
      </div>
    </div>
  </div>
</nav>
