.navbar {
  height: 110px;

  .container-fluid {
    .logo-container {
      display: flex;
      align-items: center;
      margin-left: 16px;

      .logo {
        width: 85px;
      }

      .logo-title {
        margin-left: 28px;
        font-family: "montserrat", sans-serif;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 2.25px;
        .w {
          color: rgb(153, 102, 255);
        }

        .d {
          color: rgb(138, 194, 74);
        }
      }
    }
  }
}
