<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <div class="logo-container">
      <img class="logo" src="/logo.png" alt="logo-image" />
      <span class="logo-title">
        <span class="w">W</span>orld<span class="d">D</span>ata
      </span>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      @if(continents.length > 0) {
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Select a continent
          </a>
          <ul class="dropdown-menu">
            @for(continent of continents; track continent) {
            <li>
              <a class="dropdown-item" [routerLink]="[continent]">{{
                continent
              }}</a>
            </li>
            }
          </ul>
        </li>
      </ul>
      }
    </div>
  </div>
</nav>
