:host {
  display: block;
  height: 100%;

  .continent-title {
    display: flex;
    justify-content: center;
    margin: 36px;
    font-weight: bold;
    font-size: 80px;
    color: #9966ff;
    text-shadow: 9px 8px 7px black;
  }

  .chart-section {
    overflow: auto;

    .charts {
      height: calc(100vh - 200px);
      overflow: auto;
    }

    .spinner-container {
      .spinner-border {
        height: 100px;
        width: 100px;
        color: #9966ff;
        margin-top: 20%;
      }
    }

    .no-results-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .icon-wrapper {
        font-size: 380px;
        color: #9966ff;
        // color: #8ac24a;
        // color: #00000045;
      }

      .not-fount-title {
        font-family: "montserrat", sans-serif;
        text-align: center;
      }

      .not-found-subtitle {
        color: #0000008b;
      }
    }
  }
}
