<h1 class="continent-title">{{ pageTitle }}</h1>
<population-filter
  [countriesPopulationData]="countriesPopulationData"
  (filteredData)="onFilteredPopulation($event)"
></population-filter>

<section class="chart-section">
  @if(filteredCountries.length > 0) {
  <app-charts
    class="charts"
    [chartId]="chartId"
    [chartType]="chartTypeBar"
    [data]="filteredCountries"
    [title]="titlePopulation()"
  >
  </app-charts>
  } @else if(isLoading){
  <div class="d-flex justify-content-center spinner-container">
    <div class="spinner-border" role="status"></div>
  </div>
  } @else {
  <div class="no-results-container">
    <div class="icon-wrapper">
      <i class="bi bi-emoji-frown"></i>
    </div>
    <h1 class="not-fount-title">
      No results were found with the parameters entered
    </h1>
    <h2 class="not-found-subtitle">Please enter other values</h2>
  </div>
  }
</section>
